doctype html
html
    head
        title= 'MOVIES'
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        a(href='/') Home - MOVIE List
        br
        a(href='/football') Movies
        br
        a(href='/goldenball') Directors

block content